 ![Debugging code](project_icon.jpg)

In today’s fast-paced, data-driven world, companies rely heavily on accurate analyses of sales data to make informed decisions. However, the quality of the insights derived from such analyses depend significantly on the integrity of the underlying code.

Your colleague has written some code to automate sales data analyses. The code contains bugs and so does not give accurate analyses of the data. Unfortunately, your colleague is on a business trip and you have been asked to debug some functions in the code. The company plans to use your revised code to improve the accuracy of sales analytics.

Your task is to identify potential edge cases in the functions and the underlying data that might result in logic and runtime errors, such as missing values, incorrect data types, or incompatible values (e.g., negatives). Enhance the custom functions provided by implementing exceptions to catch data quality issues and edge cases.

Your company has provided you with a csv file called "sales_data_sample.csv" for the analyses. This data has 25 columns, but only two columns are analyzed, namely, `quantity_ordered` and `price_each`. A sample of the data is shown below.

Your task is to identify errors, add exceptions in the get_quantity_ordered_sum() and get_price_each_average() functions for edge cases. Both functions require adding, inside, the correct exception types that raise errors for edge cases.

    Run theget_quantity_ordered_sum() function with sales_df['quantity_ordered'] as argument. What is the total number of quantities ordered? Store the result as an integer variable called total_quantity_ordered.
    Identify a potential edge case that might give an incorrect result due to logic or data issues. Modify the function to account for issues, producing the correct output.
    Run the get_price_each_average() function with sales_df['price_each'] as argument.
    Observe the traceback and type of exception raised at runtime.
    Modify the function to effectively work with the data and raise an exception if the data type is invalid.
    Calculate the average of the price_each column. Store the result as a float variable called average_price_each.

In [3]:
# Sample code
import pandas as pd
from pandas import Series

sales_df = pd.read_csv("data/sales_data_sample.csv")
sales_df.head()

,order_number,quantity_ordered,price_each,order_line_number,sales,order_date,status,qtr_id,month_id,year_id,...,address_line1,address_line2,city,state,postal_code,country,territory,contact_last_name,contact_first_name,deal_size
0,10107,30,95.7,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,-41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [4]:
def get_quantity_ordered_sum(sales_quantity_ordered: pd.core.series.Series) -> int:
    """Calculates the total sum on the 'quantity_ordered' column.

    Args:
        sales_quantity_ordered (pd.core.series.Series): The pandas Series for the 'quantity_ordered' column.

    Returns:
        total_quantity_ordered (int): The total sum of the 'quantity_ordered' column.
    """

    total_quantity_ordered = 0
    for quantity in sales_quantity_ordered:
        total_quantity_ordered += quantity
    return total_quantity_ordered

In [5]:
total_quantity_orderd: int = get_quantity_ordered_sum(sales_df['quantity_ordered'])

In [6]:
def get_price_each_average(sales_price_each, num_places=2):
    """Calculates the average on the 'price_each' column
       using pandas built in methods and rounds to the desired number of places.

    Args:
        sales_price_each (pd.core.series.Series): The pandas Series for the 'price_each' column.
        num_of_places (int): The number of decimal places to round.

    Returns:
        average_price_each (float): The average of the 'price_each' column.
    """

    total_of_price_each = sales_price_each.sum()
    len_of_price_each = len(sales_price_each)
    average_price_each = round(
        total_of_price_each / len_of_price_each, num_places
    )
    return average_price_each

In [7]:
get_price_each_average(sales_df['price_each'])

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
#  Add as many cells as you require